// ---------------
// Axis Settings
// Check here for updates:
// https://github.com/jenius/axis/blob/master/axis/settings.styl
// ---------------


// Default color
$default-color = #FFF

// Text highlight color
$highlight-color = #000

// Custom image base path for axis mixins
$img-path = '/img/'

// Ligatures
$ligatures = true


$c50 = #d67467
$c60 = #80882a
$c70 = #f18900
$c80 = #ef7996
$c90 = #47c1d6
$c00 = #966486
$cKontakt = #bb3132

.c50
  background-color: $c50
  +below(800px)
    #menu
      border-color: $c50
      a
        color: $c50
    svg
      fill: $c50

.c60
  background-color: $c60
  +below(800px)
    #menu
      border-color: $c60
      a
        color: $c60
    svg
      fill: $c60

.c70
  background-color: $c70
  +below(800px)
    #menu
      border-color: $c70
      a
        color: $c70
    svg
      fill: $c70

.c80
  background-color: $c80
  +below(800px)
    #menu
      border-color: $c80
      a
        color: $c80
    svg
      fill: $c80

.c90
  background-color: $c90
  +below(800px)
    #menu
      border-color: $c90
      a
        color: $c90
    svg
      fill: $c90

.c00
  background-color: $c00
  +below(800px)
    #menu
      border-color: $c00
      a
        color: $c00
    svg
      fill: $c00

.cKontakt
  background-color: $cKontakt
  +below(800px)
    #menu
      border-color: $cKontakt
      a
        color: $cKontakt
    svg
      fill: $cKontakt



$red = #c96462
$yellow = #f9af00
$green = #7cc39a
$purple = #966486
$lightblue = #6fc7de

.red
  background-color: $red
  +below(800px)
    #menu
      border-color: $red
      a
        color: $red
    svg
      fill: $red
.yellow
  background-color: $yellow
  +below(800px)
    #menu
      border-color: $yellow
      a
        color: $yellow
    svg
      fill: $yellow
.green
  background-color: $green
  +below(800px)
    #menu
      border-color: $green
      a
        color: $green
    svg
      fill: $green
.purple
  background-color: $purple
  +below(800px)
    #menu
      border-color: $purple
      a
        color: $purple
    svg
      fill: $purple
.lightblue
  background-color: $lightblue
  +below(800px)
    #menu
      border-color: $lightblue
      a
        color: $lightblue
    svg
      fill: $lightblue
