@font-face
  font-family: 'Interstate'
  src: url('/css/fonts/Interstate-Black.ttf')

body
  // font-smoothing: antialiased
  font-family: 'Alegreya Sans', sans-serif
  font-size: 18px
  line-height: 22px
  color: white

a
  color: white
  text-decoration: none

p
  font-family: 'Alegreya Sans', sans-serif
  font-size: 2vh
  line-height: 1.222em

li
  font-size: 2vh
  line-height: 1.222em
  text-align: left

nav
  font-family: 'Interstate', sans-serif
  font-size: 16px;
  line-height: 1em
  color: white

h1, h2, h3, h4
  font-family: 'Satisfy', cursive;
  line-height: 1em
  color: white
  margin: 0
  padding: 0
  text-align: center
  transform: rotate(-2.5deg)

// $h1 = 11vh
$h1 = 7.5vh

h1
  // font-size: 82px
  font-size: $h1
  line-height: 0.92em
  margin-bottom: 0.3em
  font-weight: bold
  // -webkit-text-stroke: 3px white

h2
  // font-size: 65px
  font-size: ($h1 * 0.8)
  font-weight: bold

h3
  // font-size: 48pz
  font-size: ($h1 * 0.6)

h4
  // font-size: 27px
  font-size: ($h1 * 0.33)
  transform: rotate(0)
  margin-top: 1.4em
  line-height: 1.2em
