aside
  img(src= "/img/human6.svg")

h1 &hellip; setzen wir uns zum Ziel, &hellip;

article
  p Wir glauben, dass gute Markenstrategien nahbar, menschlich und ehrlich sein müssen.
  p Nahbar, weil sie von allen verstanden werden müssen. Menschlich, weil eine Marke von Menschen für Menschen gemacht wird. Ehrlich, weil wir keine Versprechen geben, die wir im Alltag nicht halten können.
