h1 &hellip; sie will halten, was sie verspricht.

article
  p Nicht jede zweifelnde, mit sich hadernde Marke muss allerdings schwer krank sein. Auch hier ist eine Marke wie ein Mensch: Vielleicht ist sie nur ein wenig verschnupft. Oder der Schuh drückt etwas. Oder ein oder zwei Zipperleins machen ihr das Leben schwer. Zuweilen hat sie gar keine Krankheitssymptome: Dann handelt es sich möglicherweise nur um eine projektbezogene Antriebslosigkeit, einen Knoten, der zum Platzen gebracht werden muss.
  p Genau hier setzen wir Markentherapeuten und -experten an.
