aside
  img(src= "/img/human3.svg")

h1 &hellip; und für heute und morgen erfolgreich.

article
  p Wir glauben: Nur Marken, die mit sich im Reinen sind, ihre eigenen Stärken und Schwächen kennen und die mit diesem Wissen richtig kommunizieren sind stark und können sich in der schnelllebigen heutigen, schnelllebigen Zeit erfolgreich durchsetzen. 
