h1 Der Weg ist das Ziel<br/>für Ihre Marke!

article
  p Unser Weg ist indviduell auf die Bedürfnisse Ihrer Marke abgestimmt.
  ol
    li Wir erörtern mit Ihnen die „Herausforderung“ Ihrer Marke. Diese fassen wir in einer Aufgabenstellung zusammen. Geben Sie diese frei, beginnen wir, den Workshop auf Basis der erkannten Bedürfnisse individuell zu planen.
    li Wir richten den Workshop bei Ihnen oder bei uns aus. Ein Workshop wird unsererseits von zwei Personen geleitet. Ihre Teilnehmerzahl hingegen ist unbegrenzt. Erfahrungsgemäß gilt: Je weniger Teilnehmer, desto konzentrierter der Workshop. Bei komplexen Herausforderungen werden mehrere Workshop geplant.
    li Wir fassen die Ergebnisse schriftlich zusammen. Wir präsentieren Ihnen eine Kurz-Analyse mit den notwendigen To-dos für die Zukunft, mit ersten Vorschlägen und Ausblicken und besprechen diese mit Ihnen.
    li Wir gehen den Weg gemeinsam mit Ihnen weiter – machen Ihre Marke stark für die Zukunft.
