h1 Kontakt & Impressum

article
  :marked
    Verantwortlich für den Inhalt:  
    Die Markentherapie  
    Gneisenaustraße 44/45  
    10961 Berlin  
    Tel.: +49 (0)30 616 57 38-40  
    Fax: +49 (0)30 616 57 38-66  
    E-Mail: meinehelden@heldisch.com  
    URL: www.heldisch.com
    Die MARKENTHERAPIE ist eine Unit der HELDISCH GmbH  

    Geschäftsführung: Jörn Kriebel, Mikael Oskarsson, Antonia Duesterberg  
    Amtsgericht Berlin-Charlottenburg: HRB: 108678B, UST-IdNr.: DE255188742  
    Zuständige Aufsichtsbehörde (§ 34c Gewerbeordnung): Bezirksamt Berlin - Pankow, PF 730113, 13062 Berlin

    Inhaltlich Verantwortlicher gemäß § 10, Absatz 3 MDStV: Jörn Kriebel, Mikael Oskarsson

    Irrtümer und Änderungen vorbehalten.
