aside
  img(src= "/img/human4.svg")

h1 Eine Marke ist wie ein Mensch &hellip;

article
  p Eine Marke ist wie ein Mensch. Verliert sie den Kontakt zu sich selbst, stellt sie sich nicht mehr den entscheidenen Fragen, so hinterfragt und entwickelt sie sich nicht weiter.
  p In solch einem Fall hat sie aufgegeben. Sie wird sich nur noch schwer in der Welt von heute und morgen behaupten können.
